force-app/main/default/flows/Out_of_Office.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ApprovalProcesToRequest</name>
        <label>ApprovalProcesToRequest</label>
        <locationX>600</locationX>
        <locationY>4358</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>LoopRequestToApproval</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_Application</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>LoopRequestToApproval.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AssignedApprovedRequest</name>
        <label>AssignedApprovedRequest</label>
        <locationX>1480</locationX>
        <locationY>2558</locationY>
        <assignmentItems>
            <assignToReference>RequestApplicationCollectionApproved</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequestApplication</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_AssinedDateEndPlus1ToFlag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignedFlag1</name>
        <label>AssignedFlag1</label>
        <locationX>1348</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>FlagNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerificationOfDatesToApprove</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignedRequestToCollection</name>
        <label>AssignedRequestToCollection</label>
        <locationX>847</locationX>
        <locationY>1502</locationY>
        <assignmentItems>
            <assignToReference>RequestApplicationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequestApplication</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopProjectResource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssinedDateEndPlus1ToFlag</name>
        <label>AssinedDateEndPlus1ToFlag</label>
        <locationX>1216</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>FlagDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOfApplicationCallection.Request_Date_End__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlagDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsEqualFlagAndCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CollectionSize</name>
        <label>CollectionSize</label>
        <locationX>512</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>CountCollection</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>RequestApplicationCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SortCollectionToDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_AssigneApprovalBeginningMiddle</name>
        <label>Copy 1 of AssigneApprovalBeginningMiddle</label>
        <locationX>1480</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>RequestApplication.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Request_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Request_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Request_Date_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FlagDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Request_Date_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateBeginningLess1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignedApprovedRequest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_AssignedApprovedRequest</name>
        <label>Copy 1 of AssignedApprovedRequest</label>
        <locationX>1062</locationX>
        <locationY>3254</locationY>
        <assignmentItems>
            <assignToReference>RequestApplicationCollectionApproved</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequestApplication</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOfApplicationCallection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_AssinedDateEndPlus1ToFlag</name>
        <label>Copy 1 of AssinedDateEndPlus1ToFlag</label>
        <locationX>1480</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>FlagDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOfApplicationCallection.Request_Date_End__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlagDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsEqualFlagAndCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_AssigneApprovalBeginningMiddle</name>
        <label>Copy 1 of Copy 1 of AssigneApprovalBeginningMiddle</label>
        <locationX>1062</locationX>
        <locationY>3134</locationY>
        <assignmentItems>
            <assignToReference>RequestApplication.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Request_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Request_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Request_Date_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FlagDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Request_Date_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_To</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_AssignedApprovedRequest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProjectInsideRequest</name>
        <label>ProjectInsideRequest</label>
        <locationX>600</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>RequestApplication.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopProjectResource.Resource__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Request_Date_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopProjectResource.Date_Start__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Request_Date_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopProjectResource.Date_End__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Request_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Project_Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopProjectResource.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignedRequestToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RequestInsideProject</name>
        <label>RequestInsideProject</label>
        <locationX>864</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>RequestApplication.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopProjectResource.Resource__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Request_Date_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_From</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Request_Date_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_To</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Request_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Project_Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopProjectResource.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignedRequestToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RequestOverlapBeginningProject</name>
        <label>RequestOverlapBeginningProject</label>
        <locationX>1128</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>RequestApplication.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopProjectResource.Resource__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Request_Date_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopProjectResource.Date_Start__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Request_Date_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_To</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Request_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Project_Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopProjectResource.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignedRequestToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RequestOverlapEndProject</name>
        <label>RequestOverlapEndProject</label>
        <locationX>1392</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>RequestApplication.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopProjectResource.Resource__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Request_Date_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_From</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Request_Date_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopProjectResource.Date_End__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Request_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Project_Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopProjectResource.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignedRequestToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RequestWithoutProjects</name>
        <label>RequestWithoutProjects</label>
        <locationX>50</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>RequestApplicationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequestApplication</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VariableCountCollectionApproval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VariableCountCollectionApproval</name>
        <label>VariableCountCollectionApproval</label>
        <locationX>512</locationX>
        <locationY>3758</locationY>
        <assignmentItems>
            <assignToReference>CountCollectionApproval</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>RequestApplicationCollectionApproved</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateApprovalRequest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WithoutProjects</name>
        <label>WithoutProjects</label>
        <locationX>50</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>RequestApplication.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Request_Date_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_From</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Request_Date_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_To</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Request_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestApplication.Request_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RequestWithoutProjects</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>days_off</name>
        <choiceText>Days Off</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>days off</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vacation</name>
        <choiceText>Vacation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue> Vacation</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>SortCollectionToDate</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>SortCollectionToDate</label>
        <locationX>512</locationX>
        <locationY>1838</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>RequestApplicationCollection</collectionReference>
        <connector>
            <targetReference>IfApplicationCollectionHasOnly1</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Request_Date_Start__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>IfApplicationCollectionHasOnly1</name>
        <label>IfApplicationCollectionHasOnly1</label>
        <locationX>512</locationX>
        <locationY>1958</locationY>
        <defaultConnector>
            <targetReference>LoopOfApplicationCallection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MoreofOne</defaultConnectorLabel>
        <rules>
            <name>CreateOutOfOfficeApproval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountCollection</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WithoutProjects</targetReference>
            </connector>
            <label>CreateOutOfOfficeApprovalDirect</label>
        </rules>
    </decisions>
    <decisions>
        <name>InsideOfProject</name>
        <label>InsideOfProject</label>
        <locationX>1095</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>OverlapInBeginning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotInsideProject</defaultConnectorLabel>
        <rules>
            <name>InsideProject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date_From</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LoopProjectResource.Date_Start__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date_To</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LoopProjectResource.Date_End__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RequestInsideProject</targetReference>
            </connector>
            <label>InsideProject</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsEqualFlagAndCollection</name>
        <label>IsEqualFlagAndCollection</label>
        <locationX>1348</locationX>
        <locationY>2894</locationY>
        <defaultConnector>
            <targetReference>LoopOfApplicationCallection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsNotEquals</defaultConnectorLabel>
        <rules>
            <name>isEquals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlagNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CountCollection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsFinalRequestEqualsFinalProject</targetReference>
            </connector>
            <label>isEquals</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsFinalRequestEqualsFinalProject</name>
        <label>IsFinalRequestEqualsFinalProject</label>
        <locationX>1194</locationX>
        <locationY>3014</locationY>
        <defaultConnector>
            <targetReference>LoopOfApplicationCallection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsNotRequestEquals</defaultConnectorLabel>
        <rules>
            <name>IsFinalRequestEquals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlagDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Date_To</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlagDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Date_To</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_AssigneApprovalBeginningMiddle</targetReference>
            </connector>
            <label>IsFinalRequestEquals</label>
        </rules>
    </decisions>
    <decisions>
        <name>OutOfOfficeStatus</name>
        <label>OutOfOfficeStatus</label>
        <locationX>512</locationX>
        <locationY>4574</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Pending_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfSomeoneApproval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountCollection</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountCollectionApproval</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_Approval</targetReference>
            </connector>
            <label>IfSomeoneApproval</label>
        </rules>
        <rules>
            <name>IfTotalApproval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountCollection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Pending_Approval</targetReference>
            </connector>
            <label>IfTotalApproval</label>
        </rules>
    </decisions>
    <decisions>
        <name>OverlapInBeginning</name>
        <label>OverlapInBeginning</label>
        <locationX>1326</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>OverlapInEnd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotOverlapBeginning</defaultConnectorLabel>
        <rules>
            <name>OverlapBeginning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date_From</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>LoopProjectResource.Date_Start__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date_To</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>LoopProjectResource.Date_Start__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date_To</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LoopProjectResource.Date_End__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RequestOverlapBeginningProject</targetReference>
            </connector>
            <label>OverlapBeginning</label>
        </rules>
    </decisions>
    <decisions>
        <name>OverlapInEnd</name>
        <label>OverlapInEnd</label>
        <locationX>1524</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>LoopProjectResource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotOverlapEnd</defaultConnectorLabel>
        <rules>
            <name>OverlapEnd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date_From</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LoopProjectResource.Date_Start__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date_From</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LoopProjectResource.Date_End__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date_To</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>LoopProjectResource.Date_End__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RequestOverlapEndProject</targetReference>
            </connector>
            <label>OverlapEnd</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProjectOnRequestApplication</name>
        <label>ProjectOnRequestApplication</label>
        <locationX>847</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>InsideOfProject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>notProjectOnRequest</defaultConnectorLabel>
        <rules>
            <name>ProjectOnRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date_From</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>LoopProjectResource.Date_Start__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date_To</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>LoopProjectResource.Date_End__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProjectInsideRequest</targetReference>
            </connector>
            <label>ProjectOnRequest</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificationOfDatesToApprove</name>
        <label>VerificationOfDatesToApprove</label>
        <locationX>1348</locationX>
        <locationY>2318</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_AssigneApprovalBeginningMiddle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsNotDateBeginningequalsProjectBeginning</defaultConnectorLabel>
        <rules>
            <name>IsDateBeginningequalsProjectBeginning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlagDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopOfApplicationCallection.Request_Date_Start__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssinedDateEndPlus1ToFlag</targetReference>
            </connector>
            <label>IsDateBeginningequalsProjectBeginning</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateBeginningLess1</name>
        <dataType>Date</dataType>
        <expression>{!LoopOfApplicationCallection.Request_Date_Start__c}-1</expression>
    </formulas>
    <formulas>
        <name>DateEndRequest</name>
        <dataType>Date</dataType>
        <expression>{!RequestApplication.Request_Date_End__c}+1</expression>
    </formulas>
    <formulas>
        <name>DateStartRequest</name>
        <dataType>Date</dataType>
        <expression>{!RequestApplication.Request_Date_Start__c}-1</expression>
    </formulas>
    <formulas>
        <name>Name</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}+&apos; &apos;+{!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>TransientFinalPlus1</name>
        <dataType>Date</dataType>
        <expression>{!TransientFinal}+1</expression>
    </formulas>
    <interviewLabel>Out of Office {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Out of Office</label>
    <loops>
        <name>LoopOfApplicationCallection</name>
        <label>LoopOfApplicationCallection</label>
        <locationX>974</locationX>
        <locationY>2078</locationY>
        <collectionReference>RequestApplicationCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignedFlag1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>VariableCountCollectionApproval</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopProjectResource</name>
        <label>LoopProjectResource</label>
        <locationX>512</locationX>
        <locationY>398</locationY>
        <collectionReference>GetProjectResource</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ProjectOnRequestApplication</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CollectionSize</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopRequestToApproval</name>
        <label>LoopRequestToApproval</label>
        <locationX>512</locationX>
        <locationY>4238</locationY>
        <collectionReference>GetRequestToApproval</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ApprovalProcesToRequest</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>OutOfOfficeStatus</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Application</name>
        <label>Create Application</label>
        <locationX>512</locationX>
        <locationY>3998</locationY>
        <connector>
            <targetReference>GetRequestToApproval</targetReference>
        </connector>
        <inputReference>RequestApplicationCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateApprovalRequest</name>
        <label>CreateApprovalRequest</label>
        <locationX>512</locationX>
        <locationY>3878</locationY>
        <connector>
            <targetReference>Create_Application</targetReference>
        </connector>
        <inputReference>RequestApplicationCollectionApproved</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetProjectResource</name>
        <label>GetProjectResource</label>
        <locationX>512</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Out_of_Office_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRequestToApproval</name>
        <label>GetRequestToApproval</label>
        <locationX>512</locationX>
        <locationY>4118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopRequestToApproval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Request_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submited For Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_Copy_1_of_Pending_Approval</name>
        <label>Copy 1 of Copy 1 of Pending Approval</label>
        <locationX>776</locationX>
        <locationY>4694</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_WaitText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;&lt;em&gt;Wait wait while your requests are approved&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Wait</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>WaitToApproval</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Pending_Approval</name>
        <label>Copy 1 of Pending Approval</label>
        <locationX>512</locationX>
        <locationY>4694</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_WaitText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;&lt;em&gt;&lt;u&gt;Your application has been approved&lt;/u&gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Wait</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Congrats</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Out_of_Office_Application</name>
        <label>Out of Office Application</label>
        <locationX>512</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LoopProjectResource</targetReference>
        </connector>
        <fields>
            <name>Out_of_Office_Application_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Out_of_Office_Application_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NameResource</name>
                    <fieldText>&lt;p&gt;Name:&lt;/p&gt;&lt;p&gt;{!Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Out_of_Office_Application_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reason</name>
                    <choiceReferences>days_off</choiceReferences>
                    <choiceReferences>Vacation</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Out_of_Office_Application_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_From</name>
                    <dataType>Date</dataType>
                    <fieldText>Date From</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date_To</name>
                    <dataType>Date</dataType>
                    <fieldText>Date To</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Out_of_Office_Application_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Out_of_Office_Application_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description</name>
                    <dataType>String</dataType>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Send Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pending_Approval</name>
        <label>Pending Approval</label>
        <locationX>248</locationX>
        <locationY>4694</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WaitText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;&lt;em&gt;Your requests have been partially approved&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Wait</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>WaitToApproval</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetProjectResource</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CountCollection</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountCollectionApproval</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FlagDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Date_From</elementReference>
        </value>
    </variables>
    <variables>
        <name>FlagNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ProjectsOnWorking</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!LoopProjectResource.Project__r.Name}: {!LoopProjectResource.Date_Start__c}-{!LoopProjectResource.Date_End__c}</stringValue>
        </value>
    </variables>
    <variables>
        <name>RequestApplication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>RequestApplicationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>RequestApplicationCollectionApproved</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>TransientFinal</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>TransientFinalPlus1</elementReference>
        </value>
    </variables>
</Flow>
